@font-face {
    font-family: 'Marck Script';
    src: url("../fonts/MarckScript-Regular.ttf") format("truetype");
    font-weight: normal;
}

.header {
    width: 1600px;
    margin: 0 auto;
    /*box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/
    min-height: 100px;
    /*background-color: rgb(13 202 240 / 11%);*/
}

.mainContainer {
    border-bottom: 1px solid rgba(76,74,75,0.33);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.ulContainer {
    border-radius: 10px;
    display: flex;
    list-style-type: none;
    gap: 5px;
}

.navContainer{
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*background-color: #0dcaf0;*/
    height: 100px;
    padding-left: 0;

}

.title {
    font-family: "Marck Script", Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 70px;
    /*background-color: #0dcaf0;*/
    height: 100px;
    cursor: default;
}

.titleContainer {
    height: 100px;
    /*background-color: #0dcaf0;*/
    padding: 0 20px ;
    /*border: 2px solid  #0dcaf0;*/
    border-radius:10px;
}


.listElement{
    font-family: "Marck Script", Arial, sans-serif;
    width: 178px;
    border: 2px solid #0dcaf0;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    font-size: 30px;
}


.listElement:hover {
    background-color: #0dcaf0
}