@font-face {
    font-family: 'Marck Script';
    src: url("../fonts/MarckScript-Regular.ttf") format("truetype");
    font-weight: normal;
}

.header {
    padding: 0 30px;
    margin: 0 auto;
    min-height: 100px;
    border-bottom: 1px solid rgba(76,74,75,0.33);
    min-width: 700px;
    max-width: 1515px;
    width: 100%;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.ulContainer {
    border-radius: 10px;
    display: flex;
    list-style-type: none;
    gap: 5px;
}

.navContainer{
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*background-color: #0dcaf0;*/
    height: 100px;
    padding-left: 0;

}

.title {
    font-family: "Marck Script", Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: calc(3rem + 1.23vw);
    /* background-color: #0dcaf0; */
    height: 100px;
    cursor: default;
    padding-bottom: 10px;
    white-space: nowrap
}

.titleContainer {
    height: 100px;
    /*background-color: #0dcaf0;*/
    padding: 0 20px ;
    /*border: 2px solid  #0dcaf0;*/
    border-radius:10px;
}


.listElement{
    FONT-WEIGHT: 500;
    font-family: "Marck Script", Arial, sans-serif;
    /*width: 100%;*/
    border: 2px solid #0dcaf0;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    font-size: calc(1rem + 0.8vw);
    white-space: nowrap
}


.listElement:hover {
    background-color: #0dcaf0
}

/*@media (min-width: 1700px) {*/
/*    .header {*/
/*        max-width: 1700px;*/
/*    }*/
/*}*/

/*@media (min-width: 1400px) {*/
/*    .header {*/
/*        max-width: 1320px;*/
/*    }*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    .header {*/
/*        max-width: 1140px;*/
/*    }*/
/*}*/
/*@media (min-width: 992px) {*/
/*    .header {*/
/*        max-width: 960px;*/
/*    }*/
/*}*/
/*@media (min-width: 768px) {*/
/*    .header {*/
/*        max-width: 720px;*/
/*    }*/
/*}*/
/*@media (min-width: 576px) {*/
/*    .header {*/
/*        max-width: 540px;*/
/*    }*/
/*}*/