@font-face {
    font-family: 'Marck Script';
    src: url("../../fonts/MarckScript-Regular.ttf") format("truetype");
    font-weight: normal;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.headerBlock {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.containerImage {
    width: 100%;
}

.headerImage {
    width: -webkit-fill-available;
    object-fit: cover
}

.headerImageOne {
    width: 100%;
    border-radius: 0 10px 0 0;
}

.headerImageTwo {
    width: 100%;
    border-radius: 0 0 0 10px;
}

.block {
    margin-top: 75px;
    margin-bottom: 120px;
    padding: 0 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.headerTextBlock {
    width: 100%;
    background-color: rgb(13 202 240 / 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTextBlock:first-child {
    border-radius: 10px 0 0 0;
}

.headerTextBlock:last-child {
    border-radius: 0 0 10px 0;
}

.headerTitle {
    font-family: "Marck Script", Arial, sans-serif;
    font-weight: bold;
    padding: 0 20px;
    text-align: center; 
    font-size: 2.3vw;
}

.info {
    font-family: "Marck Script", Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.headerParagraph {
    text-align: center;
    padding: 0 20px;
    font-size: 1.2vw;
}

.headerButton {
    background-color: #0dcaf0;
    width: 238px;
    height: 67px;
    border-radius: 11px;
    border: 1px solid #0dcaf0;
    margin-top: 13px;
    font-size: 20px;
}

.headerButton:hover {
    background-color: #17a0d5;
}

.infoImg {
    border-radius: 10px 10px 0 0;
    height: 224px;
    width: 100%;
    object-fit: cover;
}

.infoList {
    margin-top: 85px;
    margin-bottom: 200px;
    list-style-type: none;
    align-items: center;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 5%;
}


.dropbtn {
    background-color: #0dcaf0;
    color: white;
    padding: 16px;
    display: flex;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
}

.dropdown {
    flex-direction: column;
    align-items: center;
    background-color: rgba(125, 255, 248, 0.08);
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #17a0d5;
}

.link:hover {
    background-color: #258cfb;
}

.postscript {
    padding-right: 82px;
    font-size: 20px;
}

.icon {
    width: 30px;
}

.insert {
    height: 250px;
    background-color: rgb(13 202 240 / 30%);
    margin-bottom: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.whiteButton {
    font-family: "Marck Script", Arial, sans-serif;
    font-size: 30px;
    border: 1px solid #0dcaf0;
    background-color: white;
    color: #0dcaf0;
    padding: 0 10px;
    height: 46px;
    border-radius: 11px;
}

.blueButton {
    font-family: "Marck Script", Arial, sans-serif;
    font-size: 30px;
    background-color: #0dcaf0;
    padding: 0 10px;
    height: 46px;
    border-radius: 11px;
    border: 1px solid #0dcaf0;
    color: white;
}

.buttonContainer {
    gap: 10px;
    width: 351px;
    display: flex;
    justify-content: space-between
}

.blueButton:hover {
    background-color: white;
    color: #0dcaf0;
}

.whiteButton:hover {
    background-color: #0dcaf0;
    color: white;
}

.image {
    border-radius: 10px 0 0 10px;
    width: 370px;
}

.forumBlock {
    margin-bottom: 200px;
}

.forumContainer {
    margin-top: 75px;
    background-color: rgb(13 202 240 / 11%);
    display: flex;
    border-radius: 10px;
}

.textContainer {
    padding: 10px 30px 10px 25px;
}

.forumText {
    font-size: x-large;
    font-weight: 600;
}

.commentList {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.commentItem {
    border-radius: 10px;
    width: 30%;
    box-shadow: 1px 2px 4px #585858;
    padding: 20px;
}

.insertContainer {
    width: 100%;
}

.commentParag {
    font-size: 25px;
}

.commentUser {
    font-size: 20px;
    font-weight: 600;
}