* {
    padding: 0;
    margin: 0;
}
.tableBlock{
    display: flex;
}
.border {
    border: 1px solid gray;
    padding: 0 10px 0 10px;
}

.select {
    border: none;
}

.temp {
    width: 60px;
}

.block {
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-left: -304px;
    margin-top: -433px;
}
.button{
    width: 72px;
    height: 112px;
    border: 2px solid #0dcaf0;
    background-color: white;
}

.table {
    min-width: 770px;
}

.tableHeadMenu {
    height: 50px;
    background-color: #0dcaf0;
}

.cellHead {
    border-radius: 3px 0 0 0;
    padding: 13px 10px;
    align-self: center;
}

.cellHead:last-child {
    border-right: none;
}

.tr {
    display: flex;
}

.row {
    border-right: 1px solid white;
    flex: 1 1;
    text-align: center;
    align-self: center;
    height: 112px;
    padding-top: 34px;
    font-size: 20px;
}

.rowBody {
    border: 1px solid #dad9dc;
}
.row:last-child{
    border-right: none;
}
/*.row:first-child{*/
/*    height: 49px;*/
/*    padding-top: 13px;*/
/*}*/
.rowBody:last-child {
    border: 1px solid #dad9dc;
}
.list{
    border: none;
}

.qqwe{

}